.schedule {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.schedule__info {
  height: 0;
  transition: 0.4s;
  row-gap: 45px;
  display: flex;
  flex-direction: column;
}

.route__text {
  font-size: 24px;
  font-weight: 400;
  color: #e5e5e5;
}

.route__text_right {
  text-align: right;
}

.schedule__info_open {
  margin-top: 20px;
  height: 280px;
}
