.aside__filter {
  flex: 0 1 calc(40% - 32px);
  display: flex;
  flex-direction: column;
  row-gap: 95px;
}

.filter {
  background-color: #3e3c41;
}

.filter__date {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 43px 30px 33px;
  border-bottom: 1px solid #e5e5e5;
}

.date__trip {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.filter__title {
  font-weight: 400;
  font-size: 30px;
  color: #fff;
}

.filter__services {
  padding: 30px 35px 30px 70px;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  border-bottom: 1px solid #e5e5e5;
}

.filter__range_price {
  padding: 37px 30px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.filter__slider_text {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  padding-right: 5px;
}

.filter__schedule {
  padding: 33px 35px;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
}

.last_tickets {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.last_tickets__title {
  font-size: 30px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
}

.tickets {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
}
