.input__box {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.label {
  font-weight: 400;
  font-size: 16px;
  color: #928f94;
}

.input {
  font-weight: 400;
  font-size: 24px;
  color: #292929;
  border: 1px solid #928f94;
  border-radius: 5px;
  width: 100%;
  padding: 10px 15px;
}

.input::placeholder,
.input::-webkit-input-placeholder,
.input::-moz-placeholder,
.input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #c4c4c4;
}

.error {
  border: 1px solid rgba(255, 61, 0, 0.76);
}

.payment__label {
  color: #292929;
}
