.list {
  background-color: #3e3c41;
  position: relative;
}

.list__container {
  display: flex;
  width: 100%;
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
  justify-content: center;
}

.list__container::after,
.list__container::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  z-index: 1;
  width: 25%;
  height: 100%;
}

.list__container::before {
  background-color: #ffa800;
  left: 0;
}

.list__container_right::after {
  background-color: #ffa800;
  right: 0;
}
