.filter__title {
  font-weight: 400;
  font-size: 30px;
  color: #fff;
}

.schedule__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.schedule {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.schedule__box {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.box {
  display: flex;
  align-items: center;
}

.box_reversed {
  transform: rotate(180deg);
}

.schedule__button {
  width: 19px;
  height: 19px;
  border: 2px solid #ffffff;
  display: flex;
  position: relative;
  border-radius: 5px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.schedule__button div {
  position: absolute;
  top: 0;
  height: 0;
  width: 10px;
  height: 1px;
  background-color: #fff;
  transition: 0.4s;
}

.schedule__button div:first-child {
  top: 7px;
  left: 3px;
  transform: rotate(90deg);
}

.schedule__button div:last-child {
  top: 7px;
  left: 3px;
}

.schedule__button_open div:first-child {
  transform: rotate(0);
}

.schedule__info {
  height: 0;
  transition: 0.4s;
  row-gap: 45px;
  display: flex;
  flex-direction: column;
}

.route__text {
  font-size: 24px;
  font-weight: 400;
  color: #e5e5e5;
}

.schedule__info_open {
  margin-top: 20px;
  height: 280px;
}
