.card {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  flex: 0 1 100%;
}

.card__title {
  font-size: 30px;
  font-weight: 500;
  color: var(--primary-color);
  text-transform: uppercase;
}

.route {
  padding: 36px 0 80px;
  border: 1px solid #c4c4c4;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.buttons {
  display: flex;
  column-gap: 10px;
  padding: 0 19px;
}

.route__train {
  padding: 17px 35px;
  display: flex;
}

.train {
  display: flex;
  align-items: center;
  column-gap: 27px;
  flex: 0 1 240px;
  width: 100%;
}

.train__route {
  flex: 0 1 480px;
  width: 100%;
}

.card__train {
  max-width: 197px;
  width: 100%;
  padding: 60px 20px 90px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.train__info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.card__sircle {
  width: 30px;
  height: 30px;
  border: 2px solid #ffa800;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffa800;
}

.card__train_route {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}

.card__train_route > span {
  color: var(--primary-color);
}

.card__train_number {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #3e3c41;
}

.duration {
  justify-content: flex-end;
  flex: 0 1 150px;
  width: 100%;
  display: flex;
  column-gap: 15px;
  align-items: center;
}

.duration__text {
  display: flex;
  flex-direction: column;
}

.card__tickets__variant {
  padding: 8px 0 50px;
  position: relative;
}

.card__tickets__variant::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background: #f7f6f6;
  border: 1px dashed #c4c4c4;
}

.card__total__price {
  display: flex;
  column-gap: 7px;
  align-self: flex-end;
  padding-right: 38px;
}

.total__price_text {
  font-weight: 700;
  font-size: 24px;
  color: #ffa800;
}

.total__price_valute {
  color: #928f94;
  font-weight: 300;
  font-size: 24px;
}

.card__button {
  margin-top: 50px;
  align-self: flex-end;
}

.buttons__reverse {
  align-self: flex-end;
}

.reverse__svg {
  transform: rotate(180deg);
}
