.tariff {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
}

.tarrif__variant {
  color: #3e3c41;
  max-width: 80px;
  width: 100%;
}

.tarrif__count {
  color: #ffa800;
  margin: 0 15px;
}

.tarrif__text {
  color: #928f94;
  font-size: 16px;
  align-self: center;
}

.tarrif__price {
  font-weight: 700;
  font-size: 24px;
  color: #2d2b2f;
  display: flex;
  column-gap: 5px;
  margin-left: auto;
}

.tarrif__valute {
  font-size: 24px;
}
