.button {
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
}

.button__fill {
  padding: 17px 68px;
  background-color: #ffa800;
  color: var(--primary-color);
  transition: 0.4s;
  border: 1px solid #ffa800;
}

.button__fill:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.button__outline_big {
  padding: 16px 75px;
}

.button__outline_big {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  transition: 0.4s;
}

.button__fill_small {
  padding: 5px 10px;
  border: 1px solid #ffa800;
  background-color: #ffa800;
  color: #fff;
  transition: 0.4s;
}

.button__fill_small:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.button__fill_small:active {
  background-color: transparent;
  border: 1px solid #ffa800;
  color: #ffa800;
}

.button__outline_big:hover {
  border: 1px solid #ffca62;
  background-color: #ffca62;
  color: #2d2b2f;
}

.button__fill:active {
  background-color: transparent;
  border: 1px solid #ffa800;
  color: #fff;
}

.button__outline_big:active {
  border: 1px solid #fff;
  background-color: #fff;
}

.button__outline_small {
  padding: 17px 15px;
  text-transform: uppercase;
  color: #e5e5e5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: transparent;
  font-weight: 400;
  transition: 0.4s;
}

.button__outline_small:hover {
  border: 1px solid #ffca62;
  background-color: #ffca62;
  color: #2d2b2f;
}

.button__outline_small:active {
  border: 1px solid #fff;
  background-color: #fff;
}
