.button {
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
}

.button__fill,
.button__fill_white {
  padding: 15px 68px;
  background-color: #ffa800;
  color: var(--primary-color);
  transition: 0.4s;
  border: 1px solid #ffa800;
}

.button__nonactive {
  padding: 15px 68px;
  color: var(--primary-color);
  transition: 0.4s;
  border: 1px solid #928f94;
  background-color: #928f94;
  cursor: no-drop;
  color: #fff;
}

.button__fill_white {
  color: #fff;
}

.button__fill:hover,
.button__fill_white:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.button__outline_big,
.button__outline_big_black {
  padding: 15px 75px;
}

.button__outline_big,
.button__outline_big_black {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  transition: 0.4s;
}

.button__outline_big_black {
  border: 1px solid #000;
  color: var(--primary-color);
}

.button__fill_small {
  padding: 15px 10px;
  border: 1px solid #ffa800;
  background-color: #ffa800;
  color: #fff;
  transition: 0.4s;
}

.button__fill_small:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.button__fill_small:active {
  background-color: transparent;
  border: 1px solid #ffa800;
  color: #ffa800;
}

.button__outline_big:hover,
.button__outline_big_black:hover {
  border: 1px solid #ffca62;
  background-color: #ffca62;
  color: #2d2b2f;
}

.button__fill:active,
.button__fill_white:active {
  background-color: transparent;
  border: 1px solid #ffa800;
  color: #ffa800;
}

.button__outline_big:active {
  border: 1px solid #fff;
  background-color: #fff;
}

.button__outline_small {
  padding: 15px 15px;
  color: #e5e5e5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: transparent;
  font-weight: 400;
  transition: 0.4s;
}

.button__outline_small:hover {
  border: 1px solid #ffca62;
  background-color: #ffca62;
  color: #2d2b2f;
}

.button__outline_small:active {
  border: 1px solid #fff;
  background-color: #fff;
}
