.header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.logo {
  padding: 15px 0;
  position: relative;
  z-index: 2;
}

.logo::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}

.logo__text {
  font-weight: 900;
  font-size: 36px;
  color: #e5e5e5;
}

.nav {
  background-color: #292929;
  padding: 25px 0;
}

.list {
  display: flex;
  column-gap: 80px;
}

.list__item_link {
  font-size: 30px;
  color: #fff;
  font-weight: 300;
}
