.card__train {
  max-width: 197px;
  width: 100%;
  padding: 60px 20px 90px;
  background-color: #e4e0e9;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.card__sicle {
  width: 86px;
  height: 86px;
  border: 2px solid #fff;
  border-radius: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.card__train_route {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}

.card__train_route > span {
  color: var(--primary-color);
}

.card__train_number {
  align-self: center;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #3e3c41;
}
