.count__tickets {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.tickets__variant_title {
  font-size: 30px;
  font-weight: 700;
  color: var(--primary-color);
  padding-left: 19px;
}

.tickets__box {
  padding: 20px 40px 55px 35px;
  display: flex;
  flex: 0 1 33.333%;
  flex-direction: column;
  row-gap: 23px;
}

.tickets__box:focus-within {
  outline: 1px solid rgba(255, 168, 0, 0.79);
}

.tickets__box_shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}

.count__box {
  padding: 15px 0 15px 17px;
  border: 1px solid #928f94;
  border-radius: 5px;
  display: flex;
  column-gap: 5px;
}

.input {
  flex: 0 1 45%;
  max-width: 25px;
  font-weight: 400;
  font-size: 18px;
  color: var(--primary-color);
}

.count__box span {
  font-weight: 400;
  font-size: 18px;
  color: var(--primary-color);
}

.ticket__info {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.ticket {
  display: flex;
}

.card__type_van {
  padding: 27px 0 80px;
}

.ticket__info_child {
  color: #928f94;
}
